[submodule "media-player/3rdParty/spdlog"]
	path = media-player/3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "media-player/3rdParty/googletest"]
	path = media-player/3rdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "media-player/3rdParty/trompeloeil"]
	path = media-player/3rdParty/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "media-player/3rdParty/embed-resource"]
	path = media-player/3rdParty/embed-resource
	url = https://github.com/cyrilcode/embed-resource.git
