[submodule "media-player/3rdParty/spdlog"]
	path = media-player/3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "media-player/3rdParty/googletest"]
	path = media-player/3rdParty/googletest
	url = https://github.com/google/googletest.git
